.aboutBanner {
  height: 223px;
  width: 90%;
  margin: auto;
  border-radius: 25px;
}

.aboutBanner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));

}

.collapseAboutStyle {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 75px;
  width: 75%;
}

@media only screen and (max-width:992px) {
  .aboutBanner {
    width: 94%;

  }

  .collapseAboutStyle {
    width: 94%;
  }

  .collapseAboutStyle {
    margin-top: 20px;
  }
}