.errorMain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
  
  .errorMain h1 {
    font-size: 14em;
    font-weight: bold;
    color: #ff6060;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  
  .errorMain p {
    color: #ff6060;
    font-size: 36px;
    margin-bottom: 170px;
  }
  
  p + a {
    color: #ff6060;
    text-decoration: underline;
  }