footer {
    width: 100%;
    height: 180px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }



  .logoFooter {
    border-radius: unset;
  }
  
  footer p {
    margin-bottom: 0;
  }