.headerStyle {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width:992px) {
  .headerStyle {
    width: 94%;
  }
}

@media only screen and (max-width:768px) {
  .headerStyle {
    margin-top: 22px;
  }
}

.imgNavLogoStyle {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .imgNavLogoStyle {
    width: 120px;
  }
}

.headerNavStyle ul {
  display: flex;
  justify-content: space-between;
}

.headerLiStyle {
  color: #ff6060;
  cursor: pointer;
  font-size: 24px;
  margin-left: 4.5rem;
}

@media only screen and (max-width:768px) {
  .headerLiStyle {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 1.5rem;
  }
}

.headerNavStyle li:hover {
  text-decoration: underline;
}

.headerNavStyle a {
  text-decoration: none;
  list-style-type: none;
}