section {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    /*align-items: center;*/
    width: 90%;
  }
  
  .banner {
    position: relative;
  }
  
  .banner::after {
    content: " ";
    z-index: 0;
    display: block;
    position: absolute;
    height: 98%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(146, 144, 144, 0.4);
    border-radius: 30px;
  }
  
  .banner > h1 {
  position: absolute; 
    top: 25%;
    right: 25%;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    z-index: 1;
    
  }
  
  .banner > img {
    border-radius: 30px;
    width: 100%;
  }

  main.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
