.hostStyle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  width: 215px;
  color: #ff6060;
}

  .hostNameStyle {
    font-weight: 500;
    margin-right: 10px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
.nameStyle {
    margin: 0;
    margin-right: 15px;
    text-align: end;
    font-size: 18px;
  }

.hostPicStyle {
    border-radius: 100%;
    height: 64px;
    width: 64px;
  }

  @media only screen and (max-width: 768px) {
    .nameStyle {
      font-size: 12px;
    }

    .hostPicStyle {
width: 32px;
height: 32px;
    }

    .hostStyle {
      margin-bottom: 20px;
    }
  }

