.collapseLogementStyle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.collapseDescription,
.collapseEquipment {
    width: 47%;
}

.collapseEquipment {
    display: flex;
    flex-direction: column;
}

.collapseTextEquip {
    display: flex;
    flex-direction: column;
}

.infoParts1and2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.infoPart1 h1 {
    font-size: 36px;
    font-weight: 500;
    /*margin-top: 20px;*/
    margin-bottom: 0px;
    color: #FF6060;
}

.infoPart1 p {
    margin-top: 10px;
    color: #FF6060;
    font-size: 18px;
}

.infoPart2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 992px) {
    .carouseStyle {
        width: 95%;
        margin: 0px;
    }

    .infoPart1 {
        margin-top: -20px;
    }

    .infoParts1and2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 95%;
    }

    .infoPart2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        align-items: flex-start;
        margin-top: 15px;
    }

    .collapseLogementStyle {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .collapseDescription,
    .collapseEquipment {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .infoPart1 .title {
        font-size: 18px;
    }

    .infoPart1 p {
    font-size: 14px;
    }
}
