.ratingStyle {
    display: flex;
    align-items: center;
}

.ratingStarStyle {
    margin-right: 5px;

}
 /*   @include media-query(medium) {
        height: 24px;
    }

    @include media-query(large) {
        height: 30px;
    }*/





    @media only screen and (max-width:992px) {
        .ratingStyle {
            margin-top: 25px;
            align-items: baseline;

        }
        }
      
        @media only screen and (max-width: 768px) {
      
        }
