.ratingStyle {
    display: flex;
    align-items: center;
}

.ratingStarStyle {
    margin-right: 5px;
    height: 24px;
}

@media only screen and (max-width:992px) {
    .ratingStyle {
        margin-top: 20px;
        align-items: baseline;
    }
}

@media only screen and (max-width: 768px) {
    .ratingStarStyle {
        height: 13px;
    }

    .ratingStyle {
        margin-top: 12px;
    }
}